.venv
# Rust
engine-rust/target/
engine-rust/Cargo.lock

.env
.env.local
frontend/.npm-cache/
# CLI

cli/target/

# RAG
__pycache__/
*.py[cod]
*$py.class
rag-env/
.pytest_cache/
*.log
# Vector DB
data/  

# IDE
.idea/
.vscode/
*.iml
